{% extends "base.html" %}


{% block head %}
  {{ super() }}
{% endblock %}



{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


{% block content %}
<div class="container">
  <div class="row justify-content-center">
  <div class="card">
        <div class="card-header">
          <div class="row justify-content-center">
          <h3> Create LOCK </h3>
          </div>
            <div class="row">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="pickTypeSpread" name="pickType" class="custom-control-input">
                  <label class="custom-control-label" for="pickTypeSpread">Spread</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="pickTypeOverUnder" name="pickType" class="custom-control-input">
                  <label class="custom-control-label" for="pickTypeOverUnder">Over Under</label>
                </div>
            </div>
          </div>

        <div class="card-body">
        <form method="POST" action="{{ url_for('lock_form_route') }}">
            {{ form.csrf_token }}


            <div class="form-group row">
                <label for="home" class="col col-form-label">{{ form.home.label }}</label>
                <div class="col6">
                    {{ form.home(class="form-control" + (" is-invalid" if form.home.errors else ""))  }}
                </div>
            </div>


            <div class="form-group row">
                <label for="away" class="col col-form-label">{{ form.away.label }}</label>
                <div class="col6">
                    {{ form.away(class="form-control" + (" is-invalid" if form.away.errors else ""))  }}
                </div>
            </div>


            <div class="form-group row" id="favoriteField">
                <label for="favorite" class="col col-form-label">{{ form.favorite.label }}</label>
                <div class="col6">
                    {{ form.favorite(class="form-control" + (" is-invalid" if form.favorite.errors else "")) }}
                </div>
            </div>
                {% if form.favorite.errors %}
                      <small class="form-text text-muted" style="padding-bottom: 2%">
                        {% for error in form.favorite.errors %}
                          {{ error }} <br>
                        {% endfor %}
                      </small>
                  {% endif %}




            <div class="form-group row" id="lineId">
                <label for="line" class="col col-form-label">{{ form.line.label }}</label>
                <div class="col6">
                    {{ form.line(class="form-control" + (" is-invalid" if form.line.errors else ""))  }}
                </div>
            </div>

          <!-- OU FIELD-->
            <div class="form-group row" id="overUnderField">
                <label for="ou" class="col col-form-label">{{ form.ou.label }}</label>
                <div class="col6">
                    {{ form.ou(class="form-control" + (" is-invalid" if form.ou.errors else ""))  }}
                </div>
            </div>
              {% if form.ou.errors %}
                    <small class="form-text text-muted" style="padding-bottom: 2%">
                      {% for error in form.ou.errors %}
                        {{ error }} <br>
                      {% endfor %}
                    </small>
                {% endif %}
          <!-- END OU FIELD-->

          <!-- PICK FIELD -->
            <div class="form-group row">
                <label for="pick" class="col col-form-label">{{ form.pick.label }}</label>
                <div class="col6">
                    {{ form.pick(class="form-control" + (" is-invalid" if form.pick.errors else ""))  }}
                </div>
            </div>
              {% if form.pick.errors %}
                    <small class="form-text text-muted" style="padding-bottom: 2%">
                      {% for error in form.pick.errors %}
                        {{ error }} <br>
                      {% endfor %}
                    </small>
                {% endif %}
          <!-- END PICK FIELD -->


            <!-- {{ form.submit }} -->
            <button type="submit" class="btn btn-success" value="Submit">
                                    Create
            </button>
        </form>
      </div>
  </div>
</div>
</div>

{{ bootstrap.load_js() }}

<script type="text/javascript">


$(document).ready(function(){

        $('#overUnderField').hide();


        var $radios = $('input:radio[name=pickType]');

        if($radios.is(':checked') === false) {
            $radios.filter('[id=pickTypeSpread]').prop('checked', true);
        }

        $('input[type="radio"]').click(function(){
            if($(this).prop("checked") == true && (this.id == 'pickTypeOverUnder') ){
                console.log("pickTypeOverUnder is checked.");
                $('#lineId').hide();
                $('#favoriteField').hide();
                $('#overUnderField').show();
            }
            else if($(this).prop("checked") == true && (this.id == 'pickTypeSpread') ){
                console.log("pickTypeSpread is checked.");
                $('#lineId').show();
                $('#favoriteField').show();
                $('#overUnderField').hide();
            }
        });
});

</script>
{% endblock %}
