{% extends "base.html" %}


{% block head %}
  {{ super() }}
{% endblock %}



{% block content %}
<div class="container">
  <div class="row justify-content-center">
  <div class="card">
        <div class="card-header">Create LOCK</div>
        <div class="card-body">
        <form method="POST" action="{{ url_for('lock_form_route') }}">
            {{ form.csrf_token }}

            <div class="form-group row">
                <label for="username" class="col col-form-label text-md-right">{{ form.home.label }}</label>
                <div class="col">
                    {{ form.home }}
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col col-form-label text-md-right">{{ form.away.label }}</label>
                <div class="col">
                    {{ form.away }}
                </div>
            </div>


            <div class="form-group row">
                <label for="username" class="col col-form-label text-md-right">{{ form.favorite.label }}</label>
                <div class="col">
                    {{ form.favorite }}
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col col-form-label text-md-right">{{ form.line.label }}</label>
                <div class="col">
                    {{ form.line }}
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col col-form-label text-md-right">{{ form.pick.label }}</label>
                <div class="col">
                    {{ form.pick }}
                </div>
            </div>


            <!-- {{ form.submit }} -->
            <button type="submit" class="btn btn-success" value="Submit">
                                    Create
            </button>
        </form>
      </div>
  </div>
</div>
</div>
{% endblock %}
